<div class="container" ng-controller="UserController">
    <div ng-init="load_users()">
      <div >
      <strong><small>usuario:{{userlog}}</small></strong>  
      </div>
      <div>
        <div class="input-group col-md-12">
          <input class="search-query form-control" type="text" placeholder="Buscar" ng-model="busqueda">
          <small>Buscando : {{busqueda}} </small>
        </div>
        <div ng-repeat="user in users | filter : busqueda">
          <div class="" ng-show="user.name==busqueda">
            <small>Result:</small>
            <strong>{{user.name}} - {{user.email}}</strong>
          </div>
        </div>

      </div>
    </div>

    <table class="table">
      <thead>

        <tr>
          <td>
           <div ng-show="msg=='error'">
              <strong class="alert alert-warning" >{{msg}}</strong>
            </div>
          </td>
          <td>
            <div ng-show="msg!='error'">
              <strong class="alert alert-success" >{{msg}}</strong>
            </div>
          </td>
          <div ng-show="msg=='Login correcto'">
             <strong class="alert alert-succes" >{{msg}}</strong>
           </div>
         </td>
        </tr>

        <tr>
          <th>
            Nombre
          </th>
          <th>
            Email
          </th>
          <th>
            Password
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input class="form-control" ng-model="user.name">
          </td>
          <td>
            <input class="form-control" ng-model="user.email">
          </td>
          <td>
            <input class="form-control" type="password" ng-model="user.password">
          </td>
          <td>
            <button class="btn btn-primary" ng-click="create()"> Agregar </button>
          </td>
          <td>
            <button class="btn btn-info" ng-click=update(user._id)>Actualizar</button>
          </td>

          <td>
            <button class="btn btn-info" ng-click="clear()">Limpiar</button>
          </td>
        </tr>
        <tr ng-repeat="user in users | orderBy:'name'">
          <td>
            {{user.name}}
          </td>
          <td>
            {{user.email}}
          </td>
          <td>
            <button  class=" btn btn-danger" ng-click="delete(user._id)">Eliminar</button>
          </td>
          <td>
            <button class="btn btn-warning" ng-click="edit(user._id)">Editar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
